@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@import "global";

//COMMON
.grid {
  padding-top: 10vh;
}

//CONVERTER BLOCK
.cryptoInputBox {
  @include flex(space-evenly, center, row);
  display: flex;
  padding: 10px 0 20px;
}
.currencyInput {
  width: 60%;
}
.currencyType {
  width: 30%;
}
.сurrencyTypography {
  text-align: center;
  padding-bottom: 5px;
}

//CRYPTO TABLE
.coinImg {
  width: 25px;
}